<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Country Result</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/allCountries">All Countries</a>
            <a href="/allRecords">My Records</a>
        </nav>
    </header>
    <main>
        <% data.forEach((item)=>{ %>

            <div class="cardsCont">
                <p>date: <%= item.date %>
                </p>
                <p>Confirmed Cases: <%= item.cases %>
                </p>

            </div>
            <br>
            <br>
            <% }) %>

    </main>
    <footer></footer>
</body>

</html>