<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY RECORDS</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/allCountries">All Countries</a>
            <a href="/allRecords">My Records</a>
        </nav>
    </header>
    <main>
        <% if (data.length==0) { %>

            <h2>NO AVAILABLE RECORDS</h2>

            <% }else{ data.forEach((item)=>{ %>
                <div class="cardsRec">
                    <h4>Country: <%= item.country %>
                    </h4>
                    <p>Date: <%= item.date %>
                    </p>

                    <form action="/recordDetails/<%= item.id %> " method="get">
                        <input type="submit" value="View-Details">
                    </form>
                </div>
                <% }); } %>

    </main>
    <footer></footer>
</body>

</html>